version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    networks:
      - selenium_net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - selenium_net

networks:
  selenium_net:
