name: MediBook Automated Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      # Récupérer le code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2Installer Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Installer les dépendances Python
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Installer Docker Compose
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      # Lancer MediBook via Docker Compose
      - name: Start MediBook (Docker)
        run: |
          docker-compose up -d
          # Attendre que tous les services soient prêts
          sleep 15

      # Exécuter les tests Selenium / Pytest
      - name: Run E2E tests
        run: |
          pytest --maxfail=1 --disable-warnings -v --html=reports/report.html --self-contained-html
        # Génère un rapport HTML

      # Upload du rapport HTML comme artefact
      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          name: e2e-test-report
          path: reports/report.html

      # Stop Docker Compose
      - name: Stop MediBook
        run: |
          docker-compose down
